<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Note Wrangler</title>
    <link rel="stylesheet" href="C:\Users\MEFTEH\Desktop\projet angularsJs\applicationAngularCodeschool\app\assets\style\bootstrap.css">
    <link rel="stylesheet" href="C:\Users\MEFTEH\Desktop\projet angularsJs\applicationAngularCodeschool\app\assets\style\bootstrap-theme.css">
  </head>
  <body>
    <h1>Welcome</h1>

  </body>
  <!-- vendor -->
  <script src="C:\Users\MEFTEH\Desktop\projet angularsJs\applicationAngularCodeschool\app\assets\javascript\vendor\jquery-2.2.3.min.js"/>
  <script src="assets/javascript/vendor/angular.js"/>
  <script src="assets/javascript/vendor/angular-route.js"/>
  <script src="assets/javascript/vendor/angular-resource.js"/>
<!-- App -->
<!-- Controller -->
<!-- Services -->
<!-- Directives -->

</html>
